<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customization</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Customization</h1>
    <label>Snake Color:</label>
    <input type="color" id="snakeColor">
    
    <label>Map Color:</label>
    <input type="color" id="mapColor">
    
    <button onclick="saveCustomization()">Save</button>
    <button class="back-button" onclick="goHome()">Back</button>

    <script src="/js/customization.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>